*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(43, 109, 250, 0.4);
}
.tekst{
    position: relative;
    top: 150px;
    right: 10px;
    color: rgb(255, 255, 255);
    width: 40%;
    margin: auto;
    background-color: rgba(29, 28, 28, 0.884);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    font-family: 'Secular One', sans-serif;
    font-size: 30px;
    text-align: center;
}

.begintxt{
    position: relative;
    top: 150px;
    right: 10px;
    color: rgb(255, 255, 255);
    width: 50%;
    margin: auto;
    background-color: rgba(29, 28, 28, 0.884);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    font-family: 'Secular One', sans-serif;
    font-size: 50px;
    text-align: center;
}
#biertje{
    position: relative;
    left: 1070px;
    width: 30%;
}
.beginbttn{
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 106px;
    line-height: 105px;
    padding: 0 60px;
    font-size: 40px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
    background-clip: padding-box;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
    background-color: red;
    left: 630px;
    top: 400px;
}   
